.app-item {
    margin-bottom: 15px;
}

.tpl-node {
    border-top: 1px solid #f5f5f5;
    margin-top: 15px;
}

.inp-form {
    width: 500px;
}

.e-chart {
    width: 500px;
    height: 300px;
}

.progress {
    align-items: center
}

.progress-rt {
    margin-left: 15px;
}