<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>从面向对象到没有对象</title>
    <link href="//cdn.bootcss.com/element-ui/1.3.7/theme-default/index.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <div class="drawer">
            <canvas ref="cvs" id="cvs" width="600" height="800"></canvas>
        </div>
        <div>
            <el-form ref="form" :model="info" label-width="80px">
                <el-form-item label="标题">
                    <el-input v-model="info.title" placeholder="请输入标题"></el-input>
                </el-form-item>
                <el-form-item label="顶部文字">
                    <el-input v-model="info.topTxt" placeholder="请输入顶部文字"></el-input>
                </el-form-item>
                <el-form-item label="作者">
                    <el-input v-model="info.author" placeholder="请输入作者"></el-input>
                </el-form-item>
                <el-form-item label="书本颜色">
                    <el-color-picker v-model="info.color" show-alpha @change="draw"></el-color-picker>
                </el-form-item>
                <el-form-item label="选择动物封面">
                    <div></div>
                    <el-button type="primary" @click="dialogFormVisible = true">选择动物封面</el-button>
                </el-form-item>
            </el-form>
        </div>
        <el-dialog title="选择动物" :visible.sync="dialogFormVisible">
            <div class="animal-selecter">
                <div class="animal-selecter__item" v-for="item,i in 40">
                    <img width="100" height="100" :src="'./img/animal'+i+'.png'" />
                </div>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="dialogFormVisible = false">随机</el-button>
            </div>
        </el-dialog>
    </div>
    <script src="//cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
    <script src="//cdn.bootcss.com/element-ui/1.3.7/index.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>