<!doctype html>
<!--<html><head><meta name=xxx content=xxx></head> <body>123465123456</body></html>-->
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="renderer" content="webkit"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title>价格趋势</title>
        <script>
            function px(num){
                console.log(num*window.screen.width/750)
            }
        </script>
        <link rel="stylesheet" href="./css/index.css"/>
    </head>
    <body>
        <div id="app">
            <header class="hd">
                <h1 class="hd__title">小白菜</h1>
                <div class="hd__loc cell">
                    <div class="hd__loc-market">广州市江南西蔬菜批发市场</div>
                    <span class="hd__loc-pos aside__font-sm">广州市海珠区</span>
                </div>
                <div class="cell hd__price">
                    <span class="hd__price-value">3.26元／斤</span>
                    <price-range value="5" prev-value="4"></price-range>
                    <div class="hd__price-time aside__font-sm">5月25日</div>
                </div>
            </header>
            <section class="bd">
                <header class="cell bd__tab">
                    <div 
                        :class="backClass4TabItem(0)"
                        @click="eventClickTabItem(0)"
                        class="bd__tab-item">
                        价格趋势
                    </div>
                    <div 
                        :class="backClass4TabItem(1)"
                        @click="eventClickTabItem(1)"
                        class="bd__tab-item">
                        附近市场
                    </div>
                </header>
                <div class="ct">
                    <component :is="tabPage[tabIndex]"></component>
                </div>
            </section>
            <footer>
                
            </footer>
        </div>

        <script id="tooltipTpl"  type="text/x-template">
            <div class="tooltip">
                <p class="tooltip__0">{0}</p>
                <p class="tooltip__1">{1}</p>
            </div>
        </script>

        <!--e-charts-->
        <script id="chartTpl" type="text/x-template">
            <div id="chart"></div>
        </script>

        <!--page-price-->
        <script id="priceChartPageTpl" type="text/x-template">
            <div class="ct__lt">
                <e-charts></e-charts>
                <price-list></price-list>
            </div>
        </script>

        <!--price-list-->
        <script id="priceListTpl" type="text/x-template">
            <div class="price-list">
                <div class="price-mean">
                    <header 
                        :style="backPanleLeft"
                        class="price-mean__panel">
                        全国平均价：{{handleFixed2(backMean)}}
                    </header>
                    <div 
                        class="price-mean__line"
                        :style="backLineLeft">
                        <header class="price-mean__line-arrow"></header>
                        <section class="price-mean__line-body"></section>
                        <footer class="price-mean__line-footer"></footer>
                    </div>
                </div>
                <div 
                    class="price-list__item cell " 
                    :class="index===0&&'price-active'"
                    v-for="item,index in backSortList">
                    <span class="price-item__name">广州</span>
                    <div class="price-list__bar">
                        <div 
                            class="price-bar__value cell"
                            :style="backBarWidth(item)">
                            <div 
                                class="price-bar__out-value"
                                :style="backOutMeanWidth(item)"></div>
                        </div>
                    </div>
                    <span class="price-item__value">{{handleFixed2(item)}}</span>
                </div>
            </div>
        </script>

        <!--page-market-->
        <script id="marketPageTpl" type="text/x-template">
            <table>
                <thead>
                    <tr>
                        <th v-for="item,index in th">
                            <div class="table__th" :class="'table__th-'+index">{{item}}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50%">广州天河棠下综合市场</td>
                        <td><span class="hd__price-value">3.26元／斤</span></td>
                        <td>
                            <price-range value="5" prev-value="4"></price-range>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">广州天河棠下综合市场</td>
                        <td><span class="hd__price-value">3.26元／斤</span></td>
                        <td>
                            <price-range value="5" prev-value="4"></price-range>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">广州天河棠下综合市场</td>
                        <td><span class="hd__price-value">3.26元／斤</span></td>
                        <td>
                            <price-range value="5" prev-value="4"></price-range>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">广州天河棠下综合市场</td>
                        <td><span class="hd__price-value">3.26元／斤</span></td>
                        <td>
                            <price-range value="5" prev-value="4"></price-range>
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>

        <!--price-range-->
        <script id="priceRangeTpl" type="text/x-template">
            <span class="hd__price-range cell">
                <img class="hd__price-range__img" :src="backImage"/>
                <span  class="hd__price-range" :style="{color:backColor}">{{backRange}}</span>
            </span>
        </script>

        <script src="./js/vue.min.js"></script>
        <script src="./js/echarts.common.min.js"></script>
        <script src="./js/index.js"></script>
    </body>
</html>